#owl_parentContainer {
    width: calc(400px * 2);
    display: flex;
    align-items: flex-start;
}

.owl_owlImage {
    width: 50%;
    height: auto;
}

#owl_bubble {
    position: relative;
    margin-left: 20px;
    width: calc(50%-20px);
}

#owl_canvas1 {
    position: absolute;
    top: 0;
    left: 0;
}

#owl_speechText {
    position: absolute;
    top: 5px;
    left: calc(400px / 10);
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Courier New',
        monospace;
    font-size: 16px;
    white-space: pre-wrap;
    word-wrap: break-word;
    min-height: calc(400px / 20);
    max-height: calc(400px - 10px);
    max-width: calc(400px - 60px);
    overflow: scroll;
}